<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="text-danger">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<p id="notice" class="text-danger"><%= notice %></p>
<%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.label :username, 'Store Name' %>
    <%= f.text_field :username, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <%= f.submit 'Sign Up', class: 'btn btn-primary' %>
<%end%>
Already have an account? 
<%= link_to ' Login', login_url %>