<h1 class="text-center mb-5 mt-3">Shopify Centeral Discount Billboard <%=@collection_id%></h1>
<header>
  <nav>

  <!--<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>-->

    <ul>
      <li><%= link_to 'Admins', advertisements_path %></li>
      <li>
        <%= form_with(url: billboard_index_path, method: "get", local: true) do |form| %>
          <ul>
            <li>
          <!--<div class="search">
              <%= form.label :Search %>-->
            </li>
            <li>
              <%= form.collection_select(:collection_id, Collection.all, :id, :title, { prompt: 'All Collections' } ) %>
              <%= submit_tag "search" %>
            </li>
          </ul>
          <!--</div>-->
          <!--<div class="actions">
            <%= form.submit %>
          </div>-->
        <% end %>
      </li>
    </ul>
  </nav>
</header>
<table>
<tbody>
    <% @advertisements.each do |advertisement| %>
      <tr>
        <td><%= advertisement.title %></td>
        <% @store = Store.find(advertisement.store_id)%>
        <td><%= @store.title %></td>
        <td><a href="<%= advertisement.product_url %>" target="_blank">SHOP NOW</a></td>
        <td><%= advertisement.description %></td>
        <td><%= image_tag(advertisement.image_url, size: "160x100", alt: "Ad Image")%></td>
        <% @collection = Collection.find(advertisement.collection_id)%>
        <td><%= @collection.title %></td>
        <!--<td><%= link_to 'Show', advertisement %></td>
        <td><%= link_to 'Edit', edit_advertisement_path(advertisement) %></td>
        <td><%= link_to 'Destroy', advertisement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        -->
      </tr>
    <% end %>
  </tbody>
</table>