
<p id="notice" class="text-danger"><%= notice %></p>
<h1 class="text-center mb-5">Shopify Centeral Discount Billboard</h1>
<div class="row card-deck">
  <% @advertisements.each do |advertisement| %>
    <% if advertisement.effective_date <= Date.today && advertisement.expiration_date >= Date.today%>
    <div class="col-sm-12 col-md-4 col-lg-3">
      <div class="card">
        <div class="text-center">
          <%= image_tag(advertisement.image_url, alt: "Ad Image", class: 'card-image-top img-fluid')%>
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">
            <%= advertisement.title%>
          </h5>
          <div class="card-text">
            <p class="truncate"><%= advertisement.description %></p>
            <p class="text-center">
              <a class="btn btn-success" href="<%= advertisement.product_url %>" target="_blank">SHOP NOW</a>
            </p>
          </div>
        </div>
        <div class="card-footer text-muted">
          <small>
          <p>
            <% @store = Store.find(advertisement.store_id)%>
            <%= @store.title %>
          </p>
          </small>
          <small class="d-inline-block">
            Expiry:
            <%= advertisement.expiration_date.strftime('%Y-%m-%d')%>
          </small>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
