<%=@collection_id%>
<ul>
      <li>Admins</li>
      <li>
        <%= form_with(url: "billboard/search", method: "get", local: true) do |form| %>
          <ul>
            <li>
          <!--<div class="search">
              <%= form.label :Search %>-->
            </li>
            <li>
              <%= form.collection_select(:collection_id, Collection.all, :id, :title, { prompt: 'Select Collection' } ) %>
              <%= submit_tag "search" %>
            </li>
          </ul>
          <!--</div>-->
          <!--<div class="actions">
            <%= form.submit %>
          </div>-->
        <% end %>
      </li>
    </ul>
  </nav>
</header>
<table>
<tbody>
    <% @advertisements.each do |advertisement| %>
      <tr>
        <td><%= advertisement.title %></td>
        <% @store = Store.find(advertisement.store_id)%>
        <td><%= @store.title %></td>
        <td><a href="<%= advertisement.product_url %>" target="_blank">SHOP NOW</a></td>
        <td><%= advertisement.description %></td>
        <td><%= image_tag(advertisement.image_url, size: "160x100", alt: "Ad Image")%></td>
        <% @collection = Collection.find(advertisement.collection_id)%>
        <td><%= @collection.title %></td>
        <td><%= link_to 'Show', advertisement %></td>
        <td><%= link_to 'Edit', edit_advertisement_path(advertisement) %></td>
        <td><%= link_to 'Destroy', advertisement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>