
<%= form_with(model: advertisement, local: true) do |form| %>
  <% if advertisement.errors.any? %>
    <div id="error_explanation" class="text-danger">
      <h2><%= pluralize(advertisement.errors.count, "error") %> prohibited this advertisement from being saved:</h2>
      <ul>
        <% advertisement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :product_url %>
    <%= form.text_field :product_url, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :image_url, 'Image' %>
    <%= form.text_field :image_url, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :effective_date %>
    <%= form.text_field :effective_date, data:{ provide: 'datepicker',  date_format: 'yyyy-mm-dd'}, class: 'form-control', value: "#{form.object.effective_date.strftime("%Y-%m-%d") unless form.object.new_record?}" %>
  </div>

  <div class="form-group">
    <%= form.label :expiration_date %>
    <%= form.text_field :expiration_date, data:{ provide: 'datepicker',  date_format: 'yyyy-mm-dd'}, class: 'form-control', value: "#{form.object.expiration_date.strftime("%Y-%m-%d") unless form.object.new_record?}" %>
  </div>

  <div class="form-group">
    <%= form.label :collection_title%><br>
    <%= form.collection_select(:collection_id, Collection.all, :id, :title, { class: 'form-control'}) %>
  </div>

  <% if @store.nil? %>
    <%= form.hidden_field :store_id, value: "#{@advertisement.store_id}" %>
  <% else %>
    <%= form.hidden_field :store_id, value: @store.id %>
  <% end %>

  <div>
    <%= form.submit :submit, class: 'btn btn-secondary' %>
  </div>
<% end %>

