<p id="notice"><%= notice %></p>

<h1 class="text-center">Advertisements</h1>

<!--<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
  <!--<a class="navbar-brand" href="#">logo</a>-->
  <%= link_to 'logo', billboard_index_path, :class => 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
        <%= link_to 'Home', billboard_index_path, :class => 'nav-link' %>
      </li>
      <li class="nav-item">
        <!--<a class="nav-link" href="#">Link</a>-->
        <%= link_to 'New Advertisement', new_advertisement_path, :class => 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>


<table>
  <!--<thead>
    <tr>
      <th>Title</th>
      <th>Store</th>
      <th>Product url</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Collection</th>
      <th colspan="3"></th>
    </tr>
  </thead>-->

  <tbody>
    <% @advertisements.each do |advertisement| %>
      <tr>
        <td><%= advertisement.title %></td>
        <% @store = Store.find(advertisement.store_id)%>
        <td><%= @store.title %></td>
        <td><a href="<%= advertisement.product_url %>" target="_blank">SHOP NOW</a></td>
        <td><%= advertisement.description %></td>
        <td><%= image_tag(advertisement.image_url, size: "160x100", alt: "Ad Image")%></td>
        <% @collection = Collection.find(advertisement.collection_id)%>
        <td><%= @collection.title %></td>
        <td><%= link_to 'Show', advertisement %></td>
        <td><%= link_to 'Edit', edit_advertisement_path(advertisement) %></td>
        <td><%= link_to 'Destroy', advertisement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>





