<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @advertisement.title %>
</p>

<p>
  <strong>Store:</strong>
  <% id = @advertisement.store_id%>
  <% @store = Store.find(id)%>
  <%= @store.title %>
</p>

<p>
  <strong>Product url:</strong>
  <%= @advertisement.product_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @advertisement.description %>
</p>

<p>
  <strong>Effective Date:</strong>
  <%= @advertisement.effective_date.strftime('%Y-%m-%d') %>     
</p>

<p>
  <strong>Exiration Date:</strong>
  <%= @advertisement.expiration_date.strftime('%Y-%m-%d') %>
</p>

<p>
  <strong>Image:</strong>
  <%= @advertisement.image_url %>
</p>

<p>
  <strong>Collection:</strong>
  <% id = @advertisement.collection_id%>
  <% @collection = Collection.find(id)%>
  <%= @collection.title %>
 
</p>

<%= link_to 'Edit', edit_advertisement_path(@advertisement), class: 'btn btn-warning' %>
<%= link_to 'Destroy', @advertisement, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %>
<!--<%= link_to 'Edit', edit_advertisement_path(@advertisement) %> |
<%= link_to 'Back', advertisements_path %>-->
