<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @advertisement.title %>
</p>

<p>
  <strong>Store:</strong>
  <%= @advertisement.store_id %>
</p>

<p>
  <strong>Product url:</strong>
  <%= @advertisement.product_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @advertisement.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @advertisement.image_url %>
</p>

<p>
  <strong>Collection:</strong>
  <%= @advertisement.collection_id %>
</p>

<%= link_to 'Edit', edit_advertisement_path(@advertisement) %> |
<%= link_to 'Back', advertisements_path %>
